fastapi
uvicorn
pydantic
python-dotenv
requests
streamlit
numpy
pandas
tqdm
reportlab
sentence-transformers
langchain
langchain-community
langchain-core
google-generativeai
langchain-huggingface
tf-keras
langchain-text-splitters
faiss-cpu